*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    color: white;
         background-image: url("image/bg-image.jpeg");
     width: 100vw;
     height: 100vh;
       background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat;
}
.container{
     /* border: 1px solid white; */
     height: 60vh;
     position: relative;
     top: 20%;
     display: flex;
     justify-content: space-around;
     align-items: center;
}
.content{
    /* border: 1px solid white; */
    width: 40vw;
}
h1{
    font-size: 6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* margin-bottom: 0.2em; */
}
.content p{
    margin: 1.5em 0; 
}
.fa-brands{
    /* border:  1px solid white; */
    margin-right: 0.3em;
    cursor: pointer;
}
.singin{
    /* border: 1px solid white; */
    width: 40vw;
    height: 70%;
}
.singin h2{
    font-size: 2.8em;
    margin-bottom: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    /* border: 1px solid white; */
}
.email{
    width: 90%;
    height: 10%;
    border-radius: 6px;
    margin-bottom: 1.5em ;
}
.password{
    width: 90%;
    height: 10%;
    border-radius: 6px;
    margin-bottom: 1.5em ;
}
button{
    background:orangered;
    color: #fff;
    padding: 0.8em;
    margin: 1em 0;
    border-radius: 8px;
}
.singin a{
    text-decoration: none;
    color: #fff;
}
.singin .para{
    /* border:  1px solid white; */
    margin-top: 5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}