*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    color: white;
         background-image: url("image/bg-image.jpeg");
     width: 100vw;
     height: 100vh;
       background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat;
}
.container{
     /* border: 1px solid white; */
     height: 60vh;
     position: relative;
     top: 18%;
     display: flex;
     /* justify-content: space-around; */
     align-items: center;
}
.content{
    /* border: 1px solid white; */
    width: 40vw;
    position: relative;
    left:6% ;
}
h1{
    font-size: 6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* margin-bottom: 0.2em; */
}
.content p{
    margin: 1.5em 0; 
}
.fa-brands{
    /* border:  1px solid white; */
    margin-right: 0.3em;
    cursor: pointer;
}
/* .fa-facebook{
    color: blue;
}
.fa-twitter{
    color: skyblue;
}
.fa-instagram{
    color: rgba(240, 18, 236, 0.859);
}
.fa-youtube{
    color: rgb(246, 30, 30);
} */
.singin{
    /* border: 1px solid #000; */
    width: 40vw;
    height: 70%;
    position: relative;
    left: 8%;
}
.singin h2{
    font-size: 2.8em;
    margin-bottom: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    /* border: 1px solid white; */
}
.email{
    width: 90%;
    height: 10%;
    border-radius: 6px;
    margin-bottom: 1.5em ;
    transition: 0.35s ease-in-out;
}
.email:hover{
    transform: scale(1.02);
        border: 2px solid orangered;
}
.password{
    width: 90%;
    height: 10%;
    border-radius: 6px;
    margin-bottom: 1.5em ;
    transition: 0.35s ease-in-out;
}
.password:hover{
    transform: scale(1.02);
    border: 2px solid orangered;
}
button{
    background:orangered;
    color: #fff;
    padding: 0.8em;
    margin: 1em 0;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button:hover{
    box-shadow: 0 0 0 4px transparent,
    0 0 0 2px orangered ;
}
.singin p a{
    text-decoration: none;
    /* border: #fff 1px solid; */
    color: #fff;
}
.page{
    margin: 1em 0;
    font-family: 'Courier New', Courier, monospace;
}
.page a:hover{
    color: rgba(252, 96, 39, 0.738);
}
.singin .para{
    /* border:  1px solid white; */
    margin-top: 5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
@media (max-width: 931px){
    body {
    height: 55vh; 
    background-size: cover;
  }
    .container{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 50vw;
        position: relative;
        top: 35%;
        width: 80%;
        margin: 0% auto;
    }
    .content{
        width: 40vw;
        width: 90%;
    }
    .content h1{
        font-size: 4rem
    }
    .singin{
        color: black;
        height: 45%;
        position: relative;
        top: 13%;
        width: 90%;
        /* right: 9%; */
    }
    .singin p a{
        color: #000;
    }
    .para{
        /* border: #000 1px solid; */
        position: relative;
        bottom: 10%;
    }
}
@media (max-width: 583px){
    body{
        font-size: 12px;
        height: 43vh;
        background-size: cover;
    }
    .container{
        position: relative;
        top: 35%;
        width: 80%;
    }
    .content{
        width: 90%;
        /* height:20%; */
    }
    .fa-brands{
        position: relative;
        left: 10%;
    }
    .singin{
        width: 90%;
        /* height:35% ; */
    }
   .content h1{
        font-size: 2rem;
    }
    .email {
        height: 7%;
    }
    .password{
        height: 7%;
    }
    button{
        padding: 0.5em;
        font-size: 9px;
        border: 2px;
    }
    .para{
        font-size: 10px;
    }
    .page{
        font-size: 9px;
    }
}
@media (max-width: 375px){
    .container{
        width: 80%;
    }
    .content{
        width: 90%;
    }
    .singin{
        width: 90%;
    }
}